<%- contentFor('hero') %>
<section class="hero">
	<div class="hero-content">
		<h2>All About me</h2>
		<p>I am a frontend developer. Located in Pasadena, CA.</p>

		<a href="/contact" class="btn btn-lg btn-primary">Drop me a line</a>
	</div>
</section>


<%- contentFor('body') %>
<div class="jumbotron text-center">
	About Page
</div>

